body {
  min-height: 100%;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/PL-logos.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  margin-top: -24px;
  margin-bottom: -50px;
}

@media (min-width: 576px) {
  .landing {
    height: 200vh;
  }
}

.landing-inner {
  padding-top: 80px;
}

.landing-header {
  border-radius: 90px;
  color: white;
  background-image: url('./img/Premier_League_Rebrands_DesignStudio_05.jpg');
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: larger;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 7px 4px rgb(66, 66, 66);
}

.dark-overlay {
  background-color: rgba(100, 100, 100, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.league {
  position: relative;
  background: url('./img/Premier_League_Rebrands_DesignStudio_04.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100;
  margin-top: -24px;
  margin-bottom: -50px;
}

.league-table {
  background-color: ghostwhite;
  margin: auto;
  display: table !important;
  width: 95%;
  padding: 10px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.current-events {
  padding-top: 100px;
  color: black;
}

.active-btn {
  width: 150px;
}
.active-btn:disabled {
  opacity: 85%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
