.Card {
  min-height: 200px;
  min-width: 250px;
  margin: 5px;
  padding-left: 10px;
}

.CardRow {
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

.CardRow::-webkit-scrollbar {
  display: none;
}

.CardHeader {
  color: white;
  background-color: #46004b;
  border-bottom: 1px solid #f7f4f4;
  font-size: 130%;
}

.CardBody {
  color: #46004b;
  background-color: ghostwhite;
  min-height: 150px;
}

.Score {
  color: #e90052;
  font-size: 90%;
}
