.PldayerChartsPage {
  position: relative;
  background: url('../../assets/backgrounds/pl_yellow-bkgrround.jpg');
  /* background-repeat: round;
  background-size: 100% auto; */
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.PlayerChartsChart {
  text-align: center;
  background-color: ghostwhite;
  padding: 10px;
  margin: 20px 0;
}
