.GameweekStatus {
  position: relative;
  background: url('../../assets/backgrounds/pl_logos-bkground.jpg');
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.SectionTitle {
  color: #00ff87;
}

.ChartContainer {
  margin-top: 20px;
}

.Chart {
  text-align: center;
  background-color: ghostwhite;
  padding: 10px;
  margin-bottom: 20px;
}
