.LeagueResults {
  position: relative;
  background: url('../../assets/backgrounds/pl_red-bkgrround.jpg');
  background-repeat: round;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.GameweeksTable {
  background-color: ghostwhite;
  margin: 10px 50px;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .GameweeksTable {
    margin: 10px 2px;
  }
}
