.LeagueResultsPage {
  position: relative;
  background: url('../../assets/backgrounds/pl_red-bkgrround.jpg');
  background-repeat: round;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.RowSection {
  margin: 30px 0px;
  display: flex;
}

.GroupHeader {
  background-color: transparent;
  color: #00ff87;
  text-align: left;
  margin: 0px 50px;
}

.WeeklyWinnersBody {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.WeeklyWinnersCards {
  max-height: 300px;
  margin: 10px 50px;
  display: flex;
  overflow-y: hidden;
}

.WeeklyWinnersCards::-webkit-scrollbar {
  display: none;
}

.GameweeksTable {
  background-color: ghostwhite;
  margin: 10px 50px;
  max-height: 520px;
  overflow-x: auto;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .GroupHeader {
    margin: 0px 2px;
  }
  .GameweeksTable {
    margin: 10px -20px;
  }

  .WeeklyWinnersCards {
    margin: 10px -20px;
  }
}

@media screen and (min-width: 1500px) {
  .RowSection {
    max-width: 75%;
    margin: 0 auto;
  }
}
